h1,h2,h3,h4,h5,h6{font-family: 'Heebo', sans-serif;}

p{font-family: 'Roboto', sans-serif;}

a, u{text-decoration: none !important;}

.page{
    padding-top: 32px;
    height: 100vh;
}

.row{
    height: 500px;
}

.tell-user{
    z-index: 3;
    display: none;
    position: fixed;
    width: 100%;

}

.panel-menu{
    z-index: 2;
    display: none;  
    position: fixed;
    width: 100%;
}

.white{
    color: #ffffff;
}

/* .justify-right{
    justify-content: right;
}

.justify-left{
    justify-content: left;
} */

/* ICONS */
.circle{
    color: #ff0000;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    border: solid 1px currentColor;
    background-color: currentColor;
    border-radius: 100%;
}